.subtitle{
    font-family: 'Alice-Regular' !important;
    font-size: 2rem !important;
    color: #ffff !important;
    text-align: center !important;
    font-weight: 400 !important;
    border: 1px solid #fff !important;
    padding: 10px 32px !important;
    border-radius: 20px !important;
    margin-top: 1.5rem !important;
}