.nav-text{
    font-family: 'Quicksand-VariableFont_wght' !important;
    font-size: 1.2rem !important;
    color: #5d6939 !important;
    text-decoration: none !important;
}

.active{
    font-weight: 600 !important;
}

@media (max-width: 600px){
    .nav-text{
        font-size: 0.5rem !important;
    }
}